# Google API 設定
GOOGLE_API_KEY=AIzaSyBRCncYnf3c1tszEziqYe792bF4J3519KI

# Line Bot 設定
LINE_CHANNEL_ACCESS_TOKEN=zUoOnkhKODfwm3RnnZJ4gU3AfFHeuhafkAvJ1fvk+L1pm0u8EmYP8NJd6Hr+c2ejaEPApUK/pZBCK5d6zuCeCjd6tlDDOj3QllyuRmeZLz1LIsDZUSlVQErvSWWgMT4bZVsXqlCabILmLenAs+VZ9gdB04t89/1O/w1cDnyilFU=
LINE_CHANNEL_SECRET=01639dc26111ef342a7e2ed465eab6a3